<div class="container my-5">
    <form action="/shortURLs?_method=PUT" method="POST" id="submit-url-form" novalidate >
        <div class="input-group mb-3">
            <!--Use required to ensure No empty data input-->
            <!--type="url" to make sure input is indeed URL-->
            <input type="url" class="form-control" name="origin_URL" placeholder="Input URL" aria-label="Input URL" aria-describedby="button-addon2" required>
            <button class="btn btn-primary" type="submit" id="submit-btn">Create</button>
            <div class="invalid-feedback">Sorry, We need an URL. Need to begin with http</div>
        </div>
    </form>
    {{#if allURL}}
        <table class="table table-hover">
          <thead>
            <tr class="table-primary">
              <th scope="col">Original URL</th>
              <th scope="col">Short URL</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each allURL}}
            <tr class="table-light">
                <th scope="row">{{this.origin_URL}}</th>
                <td>{{../rootURL}}/{{this._id}}</td>
                <td class="d-flex justify-content-end">
                    <button type="button" class="copy-btn btn btn-outline-primary me-1">Copy</button>
                    <form action="/shortURLs/{{this._id}}?_method=DELETE" method="POST">
                        <button type="submit" class="delete-btn btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
          </tbody>
          {{/each}}
        </table>
    {{/if}}
    {{#if errorMessage}}
    <div>
      <div class="alert alert-dismissible alert-primary" role="alert">
          <p><code>{{errorMessage}}</code></p>
      </div>
    </div>
    {{/if}}
</div>
<script src="{{script}}"></script>
